#content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background: #8ac0ef;
  color: white;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #180115;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 }

article {
  flex-basis: 60%;
  padding: 20px;
}

article h2 {
  color: #1b4282;
}

article img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

aside {
  flex-basis: 30%;
  background: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

aside img {
  max-width: 100%;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 15px 0;
  background: #9dc0ef;
  color: white;
  margin-top: 20px;
  box-shadow: 0 -20px 5px rgba(0,0,0,0.2);
}